.text-inverse-white{
    color: aliceblue;
}

.font-17{
    font-size: 17px !important;
}

.font-25{
    font-size: 25px;
}

.font-20{
    font-size: 20px !important;
}

.font-23{
    font-size: 23px !important;
}

.font-15{
    font-size: 15px !important;
}

.btc-rate-position{
    position: relative;
    left: 11%;
}

.text-center {
    text-align: center;
}

.transfer-payment-btn{
    background: #000b65;
    border: 1px solid #0014ff;
    border-radius: 10px;
    padding: 10px 25px;
    color: #fff;
    font-size: 18px;
}

.daily-background{
    background: linear-gradient(#ffe59a,#20c1c3);
}

.total-amount-boxes-background{
    background: linear-gradient(#eeaeca,#94bbe9);
}

/* Horrizontal text continues scroll css (dashboard.blade.php) */

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    /* position: absolute; */
  }
  
  .marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 35s linear infinite;
  }
  
  .marquee2 span {
    animation-delay: 2.5s;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }

  .sliding-notification{
    padding: 13px;
    background: linear-gradient(#0826bd 38%, black);
    color: aliceblue;
    font-family: inherit;
  }
